
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0; 
    padding: 0;
}

body{
    background-image: url('index_arquivos/nada2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color:rgb(65, 65, 177);
 }
 
 .lista{
    display: flex;
    font-size: 21px;
 }
 

 h1{
    font-family: 'Tilt Neon', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
 }

 #logo{
    width: 40px;
}
li{
    list-style: none;
    margin-left: 120px;
    color: white;
    
 }
#p1{
    font-style: Arial;
    font-size: 47px;
    text-align: center;
    color:white;
} 
 #h1{
    font-family: 'Tilt Neon', cursive;
    font-size: 30px;
    color:white;
    text-align: center;
 }

.h1{
    text-align: center;
    border-width: 6px;
    font-style: arial, helvet;
    border-color:white;
    font-weight: 900;
    font-size: 40px;
}

p{
    font-style: Arial;
    font-size: 17px;
    text-align: justify;
    color:white;
    margin-inline: 200px;

}

.img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 500px;
}

.titulo{
    text-align: center;
    border-width: 6px;
    font-family: 'Tilt Neon', cursive;
    border-color:white;
    font-weight: 900;
    font-size: 40px;
  
}
a{
    text-decoration: none;
    color: white;
}
